{% extends 'layouts/base_admin_panel.html' %}
{% load static %}

{% block title %}List Notes - {% endblock title %}

{% block content %}

    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            List of All Notes
                        </h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="d-flex">
                            <a href="{% url 'notes:note_create' %}" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                     stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 5l0 14"/>
                                    <path d="M5 12l14 0"/>
                                </svg>
                                New Note
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <div class="card">
                    <div class="card-body">
                        <div id="table-default" class="table-responsive">
                            <table class="table table-vcenter table-mobile-md card-table table-striped table-hover">
                                <colgroup>
                                    <col style="width: 25%;">
                                    <col style="width: 55%;">
                                    <col style="width: 20%;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Content</th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="table-tbody">
                                {% for note in notes %}
                                    <tr>
                                        <td>{{ note.title }}</td>
                                        <td>
                                            {{ note.content_raw|truncatechars:100 }}
                                            <!-- Display the first 100 characters of content_raw -->
                                            {% if note.content_raw|length > 100 %}
                                                <a href="#" data-bs-toggle="modal"
                                                   data-bs-target="#readMoreModal{{ note.id }}">
                                                    Read More
                                                </a>
                                                <div class="modal modal-blur fade" id="readMoreModal{{ note.id }}"
                                                     tabindex="-1" role="dialog"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Note Content</h5>
                                                                <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                {{ note.content_raw }}
                                                                <!-- Display the full content in the modal -->
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Close
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Actions">
                                                <a href="{% url 'notes:note_detail' note.id %}"
                                                   class="btn btn-secondary">
                                                    View
                                                </a>
                                                <a href="{% url 'notes:note_update' note.id %}" class="btn btn-primary">
                                                    Edit
                                                </a>
                                                <a href="#" class="btn btn-danger" data-bs-toggle="modal"
                                                   data-bs-target="#deleteConfirmationModal"
                                                   data-note-id="{{ note.id }}" data-note-title="{{ note.title }}">
                                                    Delete
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <td colspan="3">No notes found.</td>

                                {% endfor %}
                                </tbody>

                            </table>

                        </div>
                        <div class="card-footer">
                            <p class="m-0 text-muted">
                                Showing {{ current_page.start_index }} to {{ current_page.end_index }}
                                of {{ current_page.paginator.count }} entries
                            </p>
                            <ul class="pagination justify-content-end">
                                {% if current_page.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">First</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ current_page.previous_page_number }}">Previous</a>
                                    </li>
                                {% endif %}
                                {% for page_number in current_page.paginator.page_range %}
                                    <li class="page-item {% if page_number == current_page.number %}active{% endif %}">
                                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                                    </li>
                                {% endfor %}
                                {% if current_page.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ current_page.next_page_number }}">Next</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?page={{ current_page.paginator.num_pages }}">Last</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block modal %}

    <div class="modal modal-blur fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are You Sure?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                    <form action="#" class="modal_delete_form" method="POST">
                        {% csrf_token %}
                        <button type="submit" href="#" class="btn btn-danger modal-confirm-button">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock modal %}

{% block extrajs %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- JavaScript code -->
    <script>
        $(document).ready(function () {
            $('#deleteConfirmationModal').on('show.bs.modal', event => {
                const button = $(event.relatedTarget);
                const noteId = button.data('note-id');
                const modal = $(this);
                let deleteTitleMessage = "Note With Title " + button.data('note-title') + " will be deleted."
                modal.find('.modal-body').text(deleteTitleMessage);
                modal.find('.modal_delete_form').attr('action', `/notes/${noteId}/delete/`);
            });
        });
    </script>

{% endblock extrajs %}